.container {
  margin: auto;
  margin-top: 5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
}

.content {
  font-size: 1.1rem;
  line-height: 2rem;
}

.link {
  color: white;
}

.link :hover {
  color: white;
}
